<!DOCTYPE html>
<html>

<head>

    <head>
        <title>Programming Job Board</title>
        <link rel="stylesheet" type="text/css" href="/postJob.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
</head>

<body>

    <header class="py-3">
        <div class="container">
            <h1 class="text-center">Programming Job Board</h1>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-12 justify-content-end">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a href="http://localhost:3000/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/postjob">Post a Job</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="col-md-6 offset-md-3 mt-5">
            <form>
                <h2 class="text-center" >Apply for a New Job</h2>
                <div class="form-group">
                    <label for="inputName">Full Name (*)</label>
                    <input type="text" name="fullname" class="form-control" id="fullname"
                        placeholder="Enter your name and surname" required>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address (*)</label>
                    <input type="email" name="email" class="form-control" id="inputEmail1" placeholder="Your email"
                        required>
                </div>
                <div class="form-group">
                    <label for="coverLetter">Cover letter</label><br>
                    <textarea class="form-control" id="coverLetter" rows="3" style="height : 176px"></textarea>
                </div>
                <hr>
                <div class="form-group mt-3">
                    <label class="mr-2">Upload your CV:</label>
                    <input type="file" name="file">
                </div>
                <hr>
                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </form>
        </div>
    </main>
    <footer>
        <p>Copyright ©2022 Programming Job Board</p>
    </footer>

    <script>
        const submit = document.getElementById('submit');

        submit.addEventListener("click", function(event){
            event.preventDefault();
            alert('Your solicitude have been received');
            location.replace('/')
        })
    </script>
</body>

</html>