form {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

/* Styles for screens larger than 768px */
@media (min-width: 768px) {
    form {
        width: 100%;
    }
}

/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
    form {
        width: 90%;
    }
}
